<div class="clear_left">
  <div class="account_content_avatar left"></div>  
  <div class="account_content_name left">
    <% if comment.name.blank? %>
      <i>anonymous</i>
    <% else %>
      <% if comment.url.blank? %>
        <%= comment.name %>
      <% else %>
        <%= link_to_unless_current comment.name, comment.url %>
      <% end %>
    <% end %>
    <% unless comment.email.blank? %>
      <br/><%= mail_to comment.email %>
    <% end %>
    <div class="left"><span class='time_ago'></span><%= time_ago_in_words comment.created_at %></div>
  </div>
</div>
