<div class='part padding margin_bottom'>
  <h3>Comments</h3>
</div>

<%= render :partial => 'comments/new', :locals => { :commentable => commentable } %>

<div id="comments">  
  <%= render commentable.comments %>
</div>
