<% div_for comment do %>
  <p>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>
          <% if comment.author %>
            <%= render :partial => 'accounts/account_content', :object => comment %>
          <% else %>
            <%= render :partial => 'comments/anonymous', :locals => { :comment => comment } %>
          <% end %>
        </td>
        <td>
          <div class='comment_body'>
            <%= simple_format comment.body %>
            <% if logged_in? and current_account_content?(comment) || current_account_content?(comment.commentable) %>
              <div class='right'>
                <%= link_to_remote 'Delete', :url => [comment.commentable, comment], :confirm => 'Are you sure?', :method => :delete %>
              </div>
            <% end %>
          </div>            
        </td>
      </tr>
    </table>
  </p>
<% end %>
