<div class='comments_title part padding'>
  <h3 class='comment_title'>Comments</h3>
</div>

<%= render :partial => 'comments/new', :locals => { :commentable => commentable } %>

<div id="comments">  
  <%= render commentable.comments %>
</div>
