<%= title 'Things' %>

<h1>Things</h1>

<%= render :partial => @things, :spacer_template => 'separator' %>
<%= render :partial => 'separator' %>

<div class='text_center'>
  <%= will_paginate @things %> 
</div>
