<%= title 'Things' %>

<div class='part padding'>
  <h1>Things</h1>
  
  <% if logged_in?  %>
    <%= link_to 'New thing', new_thing_path %>
  <% end %>
</div>

<%= render :partial => @things %>

<div class='part padding margin_top text_center'>
  <%= will_paginate @things %> 
</div>
