<h1>Things</h1>

<table>
  <tr>
    <th></th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%= link_to thing.name, thing %></td>
    <% if thing.author == current_account %>
      <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
      <td><%= link_to 'Destroy', thing, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New thing', new_thing_path %>
