<% if logged_in? and current_account.twitter_active %>
  <div class='part padding margin_bottom'>
    <label for="text">Tweet</label>
    <table>
      <tr>    
      <%- form_tag tweets_path do -%>      
        <%= hidden_field_tag 'in_reply_to_status_id' %>
        <td>
          <%= text_area_tag 'text', '', :class => 'input tweet_input' %>
        </td>
        <td>
          <span id="countdown">140</span>
        </td>
        <td>
          <%= submit_tag 'Tweet!', :class => 'button bg_color', :disable_with => 'Tweeting...' %>
        </td>
      <%- end -%>
      </tr>
    </table>
  </div>
<% end %>
