<% div_for tweet do %>
  <div class='content part'>
    <div class='content_icon left'><span class='tweet_icon'></span></div>
    <% if tweet.blog_private %>
      <div class='content_icon left'><span class='private_icon'></span></div>
    <% end %>

    <p><%= tweet_body tweet.body %></p>
  </div>
  
  <% render :layout => 'layouts/content_info', :locals => { :content => tweet } do %> 
    <% unless current_page? show_twitter_tweet_path(tweet.twitter_id) %>
      <%= link_to 'on Twitter', show_twitter_tweet_path(tweet.twitter_id) %>
    <% end %>
    <% if user_content?(tweet) %>
      <%= link_to '', tweet, :confirm => 'Are you sure?', :method => :delete, :class => 'tweet_destroy', :title => 'delete' %>
    <% end %>
  <% end %>
<% end %>
