/* SITE */

body { color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

h1, h2 { margin: 5px 0 5px 0; }

label { font-weight: bold; }

a { color: #666; text-decoration: none; }
a img { border: none; }
a:active { color: red; }
a:visited { color: #666; }
a:hover { color: red; }

hr {
  background-color: #999;
  height: 1px;
  border: 0;
  width: 95%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.button {
  border: none;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  color: white;
}

.button:hover { color: red; cursor: pointer; }

.input {
  font-family: verdana, arial, helvetica, sans-serif;
  border: 0.08em solid #999;
  font-size: 120%;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.green_bg { background-color: #4c8542; }

.email_input { width: 350px; }

/* END SITE */

/* STRUCTURE */

#container {
  margin: 1em auto;
  position: relative;
  width: 763px;    
  margin-top: 20px;
}

.part {
  border: solid 1px rgb(255,255,255);
  background-color: #FFF;
}

#content { position: relative; }

/* END STRUCTURE */

/* HOME */

#home_logo { padding-left: 70px; }

/* END HOME */

/* MENU */

#top_menu { width: 100%; }

.menu_item {
    width: 75px;
    height: 70px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    font-size-adjust: none;
    font-stretch: normal;    
    color: white;
}

.menu_item p { padding: 20px 0; }

.menu_item a, .menu_item a:visited {
    color: white;    
    text-decoration: none;
}

.menu_item:hover {
    color: white;
    background-color:red;
}

.scrap_count { color: red; }

/* END MENU */

/* SIDEBAR */

.sidebar_action { padding-left: 80px; }

#side_bar { width:200px; }

.photo_list {}

/* END SIDEBAR */

/* HOME */

#home_posts {}

/* END HOME */

/* MISCELANIOUS */

.back { margin-top: 20px; }

.post, .thing, .gallery, .gallery_photo { 
  text-align: justify;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 10px 10px;
}

.post_photo, .thing_photo {
    margin-right: 20px;
    margin-bottom: 10px;
}

.manager_links { margin: 10px; }

/* END MISCELANIOUS */

/* BLOG */

#account_content { width: 550px; }

#blog_title {}

.post_head {}

.post_content {}

.photo_list {}

/* END BLOG */

/* COMMENT */

.comment {
    padding-top: 5px;
    clear: left;
}

.new_comment { margin-bottom: 10px; }

.comment_input {
    width: 80%;
    height: 80px;
}

.comment_body {}

/* END COMMENT */

/* ACCOUNT INFO */

.account_info {
    height: 50px;
    width: i170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account_info_avatar {}

.account_info_name {
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
}

/* END ACCOUNT INFO */

/* SCRAP */
 
.scrap_input {
    width: 90%;
    height: 80px;
}

/* END SCRAP */

/* FLASH */

#flash_notice, #flash_error {
    text-align: center;
    width: 600px;
    margin: 10px 10px 10px 81px;
}
 
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* END FLASH */

/* ERROR */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* END ERROR */
