/* SITE */

body { margin: 0; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

h1, h2, h3 { margin: 5px 0 5px 0; }

label { font-weight: bold; }

a { text-decoration: none; }
a img { border: none; }

hr {
  height: 1px;
  border: 0;
  width: 95%;
}

pre {
  padding: 10px;
  font-size: 11px;
}

.button {
  border: none;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.button:hover { cursor: pointer; }

.input, .input_big {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 110%;  
  border: 0.08em solid #999;
  padding: 0.25em 0.25em 0.25em 0.25em;
}

.input_big { font-size: 120%; }

.email_input { width: 350px; }

.current { font-size: 120%; }

/* END SITE */

/* STRUCTURE */

#container {
  margin: 0 auto 0 auto;
  min-height: 100%;
  width: 964px;
}

.part { border: solid 1px rgb(255,255,255); }

#content {}

/* END STRUCTURE */

/* HOME */

#home_logo { padding-left: 70px; }

/* END HOME */

/* MENU */

#top_menu { width: 100%; }

.menu_item {
    width: 95px;
    height: 40px;
    padding: 0 10px 0 10px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 12px;
}

.menu_item p { 
  margin-top: 12px;
  padding: 0;
}

.menu_item a, .menu_item a:visited { text-decoration: none; }

/* END MENU */

/* FILTER MENU */

.filter_menu { margin-left: 30px; }

.filter_menu_item {
    min-width: 70px;
    height: 5px;
    padding: 0 10px 0 10px;
    line-height: 5px;
}

/* END FILTER MENU */

/* SIDEBAR */

.sidebar_action { padding: 10px 0 0 80px; }

#side_bar { width:200px; }

#side_bar h3, #side_bar h3 a {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* END SIDEBAR */

/* HOME */

#home_posts {}

/* END HOME */

/* MISCELANIOUS */

.back { margin-top: 20px; }

.post, .thing, .gallery, .gallery_photo { 
  text-align: justify;
  margin: 0px 0px 10px 0px;
  padding: 0px 10px 10px 10px;
}

.post_photo, .thing_photo {
    margin-right: 20px;
    margin-bottom: 10px;
}

.photo_list {}

.manager_links { margin: 10px; }

/* END MISCELANIOUS */

/* BLOG */

#account_content { width: 755px; }

#blog_title { padding: 5px 0 5px 0; }

#blog_title h1 { margin: 0; }

.post_head {}

.post_content {}

.photo_list {}

/* END BLOG */

/* COMMENT */

.comment {
    padding-top: 5px;
    clear: left;
}

.new_comment { margin-bottom: 10px; }

.comment_input {
    width: 80%;
    height: 80px;
}

.comment_body {}

/* END COMMENT */

/* ACCOUNT INFO */

.account_info {
    height: 50px;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account_info_avatar {}

.account_info_name {
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
}

/* END ACCOUNT INFO */

/* SCRAP */
 
.scrap_input {
    width: 90%;
    height: 80px;
}

/* END SCRAP */

/* FLASH */

#flash_notice, #flash_error {
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding: 0 5px 0 5px;
  line-height: 5px;
}
 
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* END FLASH */

/* ERROR */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* END ERROR */
