body {
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

a { color: #666; text-decoration: none; }
a img { border: none; }
a:visited { color: #666; }
a:hover { color: red; }

hr {
  background-color: #999;
  height: 0.08em;
  border: 0;
  width: 95%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.padding {
    padding: 10px;
}

.margin_left {
  margin-left: 10px;
}

.margin_right {
  margin-right: 10px;
}

.clear {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.vertical_center {
  vertical-align: middle;
}

.plain_list, .plain_list {
    margin:0;
    padding:0;
    list-style:none;
    display:block;
}

.plain_list li{ display:inline; }

.button {
  border: none;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  color: white;
}

.button:hover {
  color: red;
  cursor: pointer;
}

.input {
  border: 0.08em solid #999;
  font-size: 120%;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.green_bg {
  background-color: #4c8542;
}

.email_input {
  width: 350px;
}

.menu_action {
    margin: 15px 0;
    padding-left: 60px;
}

#home_logo {
  padding-left: 70px;
}

.sidebar_action {
  padding-left: 80px;
}

.scrap_count {
    color: red;
}

#top_menu {
    width: 100%;
}

.menu_item, .menu_item_image {
    width: 75px;
    height: 70px;
}

.menu_item {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    font-size-adjust: none;
    font-stretch: normal;    
    color: white;
}

.menu_item p {
    padding: 20px 0;
}

.menu_item a, .menu_item a:visited {
    color: white;    
    text-decoration: none;
}

.menu_item:hover {
    color: white;
    background-color:red;
}


#side_bar {
    width:160px;
}

#blog_title {
}

#account_content {
  width: 550px;
}

.photo_list {    
}

#container {
    margin: 1em auto;
    position: relative;
    width: 763px;    
    background-color: #FFF;
    border: solid 1px rgb(255,255,255);
    margin-top: 20px;
}

#content {
    margin: 1em auto;
    position: relative;
}

#home_posts {}

.back {
    padding-top: 5px;
}

.post { 
  text-align: justify;
}

.post_head { }

.post_photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.post_content { }

.manager_links {
    margin: 10px;
}

.comment {
    padding-top: 5px;
    clear: left;
}

.account_info {
    height: 50px;
    width: i170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account_info_avatar {
}

.account_info_name {
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
}

.new_comment {
    margin-bottom: 10px;
}

.comment_input {
    width: 80%;
    height: 80px;
}

.comment_body {}
 
.scrap_input {
    width: 90%;
    height: 80px;
}
 
.photo_list {
}

#flash_notice, #flash_error {
    text-align: center;
    width: 600px;
    margin: 10px 10px 10px 81px;
}
 
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

