body { color: #333; }

a { color: #666; }
a:active { color: #ff3300; }
a:visited { color: #666; }
a:hover { color: #ff3300; }

hr { background-color: #999; }

pre { background-color: #eee; }

.button { color: #FFF; }

.button:hover { color: #ff3300; cursor: pointer; }

.bg_color { background-color: #4c8542; }

.part { background-color: #FFF; }

/* MENU */

.menu_item:hover { background-color: #ff3300 }

.menu_item a, .menu_item a:visited { color: #FFF; }

.menu_item a:hover { color: #FFF; }

.current_menu_item, .current_menu_item:hover { background-color: #FFF; }

.current_menu_item a, .current_menu_item a:hover, .current_menu_item a:visited { color: #000; }

.scrap_count { color: #ff3300; }

/* FILTER MENU */

.filter_menu_item:hover { background-color: #ff3300 }

.filter_menu_item a, .filter_menu_item a:visited { color: #FFF; }

.filter_menu_item a:hover { color: #FFF; }

.current_filter_menu_item, .current_filter_menu_item:hover { background-color: #FFF; }

.current_filter_menu_item a, .current_filter_menu_item a:hover, .current_filter_menu_item a:visited { color: #000; }
