/* ICONS */

.private_icon {
  padding-left: 18px;
  background: transparent url('/images/private_tiny.png') no-repeat center left;
}

.post_icon {
  padding-left: 18px;
  background: transparent url('/images/post_tiny.png') no-repeat center left;
}

.thing_icon {
  padding-left: 18px;
  background: transparent url('/images/thing_tiny.png') no-repeat center left;
}

.gallery_icon {
  padding-left: 18px;
  background: transparent url('/images/gallery_tiny.png') no-repeat center left;
}

.filter_menu_account {
  padding-left: 18px;
  background: transparent url('/images/user_tiny.png') no-repeat center left;
}

.filter_menu_all {
  padding-left: 18px;
  background: transparent url('/images/network_tiny.png') no-repeat center left;
}

.filter_menu_network {
  padding-left: 18px;
  background: transparent url('/images/follow_tiny.png') no-repeat center left;
}

.tweet_destroy {
  padding-left: 18px;
  background: transparent url('/images/delete_tiny.png') no-repeat center left;
}

.tweet_icon {
  padding-left: 18px;
  background: transparent url('/images/twitter_tiny.png') no-repeat center left;
}

.twitter_title {
  padding-left: 36px;
  background: transparent url('/images/twitter_big.png') no-repeat center left;
}

.twitter_sidebar {
  padding-left: 36px;
  background: transparent url('/images/twitter_big.png') no-repeat center left;
}

.twitter_menu {
  padding-left: 26px;
  background: transparent url('/images/twitter_small.png') no-repeat center left;
}

.login_title {
  padding-left: 36px;
  background: transparent url('/images/login_big.png') no-repeat center left;
}

.login_menu {
  padding-left: 18px;
  background: transparent url('/images/login_tiny.png') no-repeat center left;
}

.post_menu {
  padding-left: 18px;
  background: transparent url('/images/post_new_tiny.png') no-repeat center left;
}

.logout_title {
  padding-left: 36px;
  background: transparent url('/images/logout_big.png') no-repeat center left;
}

.logout_menu {
  padding-left: 18px;
  background: transparent url('/images/logout_tiny.png') no-repeat center left;
}

.home_menu {
  padding-left: 18px;
  background: transparent url('/images/home_tiny.png') no-repeat center left;
}

.follow_sidebar {
  padding-left: 36px;
  background: transparent url('/images/follow_big.png') no-repeat center left;
}

.gallery_menu {
  padding-left: 18px;
  background: transparent url('/images/gallery_tiny.png') no-repeat center left;
}

.gallery_sidebar {
  padding-left: 36px;
  background: transparent url('/images/gallery_big.png') no-repeat center left;
}

.gallery_title {
  padding-left: 36px;
  background: transparent url('/images/gallery_big.png') no-repeat center left;
}

.gallery_create {
  padding-left: 18px;
  background: transparent url('/images/create_tiny.png') no-repeat center left;
}

.thing_title {
  padding-left: 36px;
  background: transparent url('/images/thing_big.png') no-repeat center left;
}

.thing_sidebar {
  padding-left: 36px;
  background: transparent url('/images/thing_big.png') no-repeat center left;
}

.thing_menu {
  padding-left: 18px;
  background: transparent url('/images/thing_tiny.png') no-repeat center left;
}

.thing_edit_title {
  padding-left: 36px;
  background: transparent url('/images/thing_edit_big.png') no-repeat center left;
}

.thing_edit {
  padding-left: 18px;
  background: transparent url('/images/edit_tiny.png') no-repeat center left;
}

.thing_create_title {
  padding-left: 36px;
  background: transparent url('/images/thing_create_big.png') no-repeat center left;
}

.thing_create {
  padding-left: 18px;
  background: transparent url('/images/thing_create_tiny.png') no-repeat center left;
}

.thing_destroy {
  padding-left: 18px;
  background: transparent url('/images/delete_tiny.png') no-repeat center left;
}

.user_menu {
  padding-left: 18px;
  background: transparent url('/images/user_tiny.png') no-repeat center left;
}

.user_edit_menu {
  padding-left: 18px;
  background: transparent url('/images/user_edit_tiny.png') no-repeat center left;
}

.user_new_menu {
  padding-left: 18px;
  background: transparent url('/images/user_edit_tiny.png') no-repeat center left;
}

.user_edit_title {
  padding-left: 36px;
  background: transparent url('/images/user_edit_big.png') no-repeat center left;
}

.user_title {
  padding-left: 36px;
  background: transparent url('/images/user_big.png') no-repeat center left;
}

.paperclip {
  padding-left: 18px;
  background: transparent url('/images/paperclip_tiny.png') no-repeat center left;
}

.scrap_title {
  padding-left: 50px;
  background: transparent url('/images/scrap_big.png') no-repeat center left;
}

.scrap_sidebar {
  padding-left: 36px;
  background: transparent url('/images/scrap_big.png') no-repeat center left;
}

.scrap_menu {
  padding-left: 18px;
  background: transparent url('/images/scrap_tiny.png') no-repeat center left;
}

.scrap_reply {
  padding-left: 18px;
  background: transparent url('/images/scrap_reply_tiny.png') no-repeat center left;
}

.scrap_destroy {
  padding-left: 18px;
  background: transparent url('/images/scrap_delete.png') no-repeat center left;
}

.post_edit_title {
  padding-left: 36px;
  background: transparent url('/images/post_edit_big.png') no-repeat center left;
}

.post_edit {
  padding-left: 18px;
  background: transparent url('/images/post_edit_tiny.png') no-repeat center left;
}

.time_ago {
  padding-left: 18px;
  background: transparent url('/images/clock_tiny.png') no-repeat center left;
}

.add {
  padding-left: 18px;
  background: transparent url('/images/add_tiny.png') no-repeat center left;
}

.remove {
  padding-left: 18px;
  background: transparent url('/images/remove_tiny.png') no-repeat center left;
}

.create_title {
  padding-left: 36px;
  background: transparent url('/images/create_big.png') no-repeat center left;
}

.create_menu {
  padding-left: 18px;
  background: transparent url('/images/create_tiny.png') no-repeat center left;
}

.create {
  padding-left: 18px;
  background: transparent url('/images/create_tiny.png') no-repeat center left;
}

.edit_title {
  padding-left: 36px;
  background: transparent url('/images/edit_big.png') no-repeat center left;
}

.edit {
  padding-left: 18px;
  background: transparent url('/images/edit_tiny.png') no-repeat center left;
}

.destroy {
  padding-left: 18px;
  background: transparent url('/images/delete_tiny.png') no-repeat center left;
}

/* END ICONS */
