/* ICONS */

.bookmark_icon, .bookmark_menu {
  padding-left: 18px;
  background: transparent url('/images/bookmark_tiny.png') no-repeat center left;
}

.bookmark_sidebar, .bookmark_title, .bookmark_new_title, .bookmark_edit_title {
  padding-left: 36px;
  background: transparent url('/images/bookmark_big.png') no-repeat center left;
}

.tag_icon {
  padding-left: 18px;
  background: transparent url('/images/tag_tiny.png') no-repeat center left;
}

.tag_sidebar, .tag_title {
  padding-left: 36px;
  background: transparent url('/images/tag_big.png') no-repeat center left;
}

.private_icon {
  padding-left: 18px;
  background: transparent url('/images/private_tiny.png') no-repeat center left;
}

.post_icon {
  padding-left: 18px;
  background: transparent url('/images/post_tiny.png') no-repeat center left;
}

.thing_icon {
  padding-left: 18px;
  background: transparent url('/images/thing_tiny.png') no-repeat center left;
}

.gallery_icon {
  padding-left: 18px;
  background: transparent url('/images/gallery_tiny.png') no-repeat center left;
}

.filter_menu_all {
  padding-left: 18px;
  background: transparent url('/images/network_tiny.png') no-repeat center left;
}

.filter_menu_network {
  padding-left: 18px;
  background: transparent url('/images/follow_tiny.png') no-repeat center left;
}

.tweet_icon {
  padding-left: 18px;
  background: transparent url('/images/twitter_tiny.gif') no-repeat center left;
}

.twitter_title, .twitter_sidebar {
  padding-left: 36px;
  background: transparent url('/images/twitter_big.png') no-repeat center left;
}

.twitter_menu {
  padding-left: 26px;
  background: transparent url('/images/twitter_small.png') no-repeat center left;
}

.login_title {
  padding-left: 36px;
  background: transparent url('/images/login_big.png') no-repeat center left;
}

.login_menu {
  padding-left: 18px;
  background: transparent url('/images/login_tiny.png') no-repeat center left;
}

.post_menu {
  padding-left: 18px;
  background: transparent url('/images/post_new_tiny.png') no-repeat center left;
}

.logout_title {
  padding-left: 36px;
  background: transparent url('/images/logout_big.png') no-repeat center left;
}

.logout_menu {
  padding-left: 18px;
  background: transparent url('/images/logout_tiny.png') no-repeat center left;
}

.home_menu {
  padding-left: 18px;
  background: transparent url('/images/home_tiny.png') no-repeat center left;
}

.follow_sidebar {
  padding-left: 36px;
  background: transparent url('/images/follow_big.png') no-repeat center left;
}

.gallery_menu {
  padding-left: 18px;
  background: transparent url('/images/gallery_tiny.png') no-repeat center left;
}

.gallery_title, .gallery_sidebar {
  padding-left: 36px;
  background: transparent url('/images/gallery_big.png') no-repeat center left;
}

.thing_title, .thing_sidebar {
  padding-left: 36px;
  background: transparent url('/images/thing_big.png') no-repeat center left;
}

.thing_menu {
  padding-left: 18px;
  background: transparent url('/images/thing_tiny.png') no-repeat center left;
}

.thing_edit_title {
  padding-left: 36px;
  background: transparent url('/images/thing_edit_big.png') no-repeat center left;
}

.thing_create_title {
  padding-left: 36px;
  background: transparent url('/images/thing_create_big.png') no-repeat center left;
}

.thing_create {
  padding-left: 18px;
  background: transparent url('/images/thing_create_tiny.png') no-repeat center left;
}

.user_menu, .user_icon, .filter_menu_account {
  padding-left: 18px;
  background: transparent url('/images/user_tiny.png') no-repeat center left;
}

.user_new_menu, .user_edit_menu {
  padding-left: 18px;
  background: transparent url('/images/user_edit_tiny.png') no-repeat center left;
}

.user_edit_title {
  padding-left: 36px;
  background: transparent url('/images/user_edit_big.png') no-repeat center left;
}

.user_title {
  padding-left: 36px;
  background: transparent url('/images/user_big.png') no-repeat center left;
}

.paperclip, .paperclip_icon {
  padding-left: 18px;
  background: transparent url('/images/paperclip_tiny.png') no-repeat center left;
}

.scrap_title, .scrap_sidebar {
  padding-left: 36px;
  background: transparent url('/images/scrap_big.png') no-repeat center left;
}

.scrap_menu {
  padding-left: 18px;
  background: transparent url('/images/scrap_tiny.png') no-repeat center left;
}

.scrap_reply {
  padding-left: 18px;
  background: transparent url('/images/scrap_reply_tiny.png') no-repeat center left;
}

.scrap_destroy {
  padding-left: 18px;
  background: transparent url('/images/scrap_delete.png') no-repeat center left;
}

.post_edit_title {
  padding-left: 36px;
  background: transparent url('/images/post_edit_big.png') no-repeat center left;
}

.post_edit {
  padding-left: 18px;
  background: transparent url('/images/post_edit_tiny.png') no-repeat center left;
}

.time_ago {
  padding-left: 18px;
  background: transparent url('/images/clock_tiny.png') no-repeat center left;
}

.add {
  padding-left: 18px;
  background: transparent url('/images/add_tiny.png') no-repeat center left;
}

.remove {
  padding-left: 18px;
  background: transparent url('/images/remove_tiny.png') no-repeat center left;
}

.create_title {
  padding-left: 36px;
  background: transparent url('/images/create_big.png') no-repeat center left;
}

.create, .create_menu, .gallery_create, .bookmark_create {
  padding-left: 18px;
  background: transparent url('/images/create_tiny.png') no-repeat center left;
}

.edit_title {
  padding-left: 36px;
  background: transparent url('/images/edit_big.png') no-repeat center left;
}

.edit, .post_edit, .thing_edit, .gallery_edit, .gallery_photo_edit, .bookmark_edit {
  padding-left: 18px;
  background: transparent url('/images/edit_tiny.png') no-repeat center left;
}

.destroy, .post_destroy, .thing_destroy, .tweet_destroy, .gallery_destroy, .gallery_photo_destroy, .bookmark_destroy, .comment_destroy {
  padding-left: 18px;
  background: transparent url('/images/delete_tiny.png') no-repeat center left;
}

.comment_icon {
  padding-left: 18px;
  background: transparent url('/images/comment_tiny.png') no-repeat center left;
}

.comment_title {
  padding-left: 36px;
  background: transparent url('/images/comment_big.png') no-repeat center left;
}

/* END ICONS */
