/* div.status                        { float:left; display:inline; width: 100% }*/
/* */
/*  div.info                        {float:left; display:inline; width:230px; margin:0; font-size:11px; text-align:right;}*/
/*    div.info span.followers_count   {color:#999; position:relative; top:-4px; margin-right:3px;}*/
    div.status {margin-bottom: 5px;}
    table.status {padding: 5px 0;}
    a.profile_image img    {width:48px; height:48px; border:1px solid #ddd; padding:1px;}
    a.profile_image:hover  {background:none;}
    a.profile_image:hover img {border-color: red;}
    p.who, p.when             {margin:0; padding:0;}
    p.who {font-weight: bold;}
    p.when {font-size: 9px;}
    p.actions {margin: 0; padding:0;}
    p.status_text {margin: 0; padding:0;font-size:14px;}
    
    .tweet_input { width: 570px; height: 40px; }
    #countdown { font-size: 35px; color: #999; }
/*    div.info span.date              {color:#aaa;}*/
/*    div.text                        { float:left; display:inline; }*/
/*  */
/*  div.profile                       {float:left; width:380px; border-bottom:1px solid #eee; margin:0 0 0 240px; padding:15px 0;}*/
/*    div.profile a.icon              {float:right;}*/
/*    div.profile div.follow_form     {float:left; margin:5px 0 0 -120px;}*/
/*    div.profile p                   {margin:0; padding:0;}*/
/*    div.profile img.profile_image   {float:left; display:inline; margin:0 30px 10px 0; padding:1px; width:48px; height:48px; border:1px solid #eee;}*/
/*    div.profile h2                  {clear:none; background:none; margin:0 0 6px; padding:0; font-size:15px; line-height:15px;}*/
/*    div.profile p.counts            {color:#777; margin:0 0 10px; font-size:12px; line-height:12px;}*/
/*    div.profile dl.details          {margin:0; padding:0; font-size:12px;}*/
/*    div.profile dl.details dt       {clear:left; float:left; width:110px; margin:0 0 0 -140px; padding:3px 30px 3px 0; text-align:right; font-weight:bold;}*/
/*    div.profile dl.details dd       {float:left; width:380px; padding:3px 0;}*/
