<p><%= @friendship.account.name %> is now following you on Bolongu!</p>

<p>You may visit <%= @friendship.account.name %>'s blog at:
<br/><%= link_to @url, @url %></p>

<p><%= image_tag @logo_tiny %></p>
