<p>Your account at Bolongo:</p>

<p>
  <b>Login</b><br/>
  <%=h @account.login %>
</p>

<p>
  <b>New Password</b><br/>
  <%=h @password %>
</p>

<p>Make sure to change your password ;)</p>

<p><%= image_tag @logo_tiny %></p>
