<p><%= image_tag @logo %></p>

<p>Your account has been created.</p>

<p>Username: <%=h @account.login %>
<br/>Password: <%=h @account.password %></p>

<p>Visit this url to activate your account:
<br/><%=h @url %></p>
