<%= image_tag 'logo_big.jpg' %>
<h1>About</h1>
<p>Site created and provided by Thiago Marano. Any requests or suggestions feel free to contact me here <%= link_to '/marano', account_index_path('marano') %> or send me an email at thiagomarano@gmail.com.</p>
