<% title 'About' %>

<div class='part padding'>
  <h1>About</h1>
</div>
  
<div class='part padding margin_top'>
  <div id='about_logo'><%= image_tag 'logo_big.jpg' %></div>

  <p>Site created and provided by Thiago Marano. Any requests or suggestions feel free to contact me here <%= link_to '/marano', account_index_path('marano') %> or send me an email at thiagomarano@gmail.com.</p>
</div>
