<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% unless logged_in? %>
  <div id='home_logo' class='part padding clear'>
    <div class='left'><%= image_tag 'logo.jpg' %></div>
    
    <div class=''>
      <h2>
        Spread your content socially!
      </h2>
    
      <h3>Features</h3>
      <ul>
        <li>Post your ideas</li>
        <li>Share your pictures</li>
        <li>Show your artworks</li>
        <li>Chat with your friends</li>
        <li>Keep track of your friends contents</li>
      </ul>
    </div>    
    
    <div class='clear'></div>
  </div>
<% end %>

<div id='home_posts'>
  <%= render :partial => @posts %>
</div>

<div class='part text_center'>
  <%= will_paginate @posts %> 
</div>
