<% div_for scrap do %>

  <p>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>
          <%= render :partial => 'accounts/account_content', :object => scrap %>
        </td>
        <td>
          <%= simple_format scrap.body %>
          <% if current_account == scrap.author or current_account == scrap.recipient %>
            <div class='right'>
              <% if current_account == scrap.recipient %>
                <% if scrap.new? %>
                  <font color='red'>new</font> |
                <% end %>
                <%= link_to 'Reply', account_scraps_path(scrap.author) %> |
              <% end %>
              <%= link_to_remote 'Delete', :url => [scrap.recipient, scrap], :confirm => 'Are you sure?', :method => :delete %>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
  </p>
<% end %>
