<%= title 'Scraps' %>

<% render :layout => @account do %>
  <h1>Scraps</h1>

  <% unless @account == current_account %>
    <%= render :partial => 'new', :locals => { :recipient => @account } %>
  <% end %>

  <div id='scraps'>
    <%= render :partial => @scraps, :spacer_template => 'separator' %>
  </div>
<% end %>
