<%= title 'Scraps' %>

<% render :layout => @account do %>
  <div class='part padding margin_bottom'>
    <h1 class='scrap_title'>Scraps</h1>
  </div>

  <% if logged_in? and @account != current_account %>
    <div class='part padding margin_bottom'>    
      <%= render :partial => 'new', :locals => { :recipient => @account } %>
    </div>
  <% end %>
  
  <div id='scraps'>
    <%= render :partial => @scraps %>
  </div>
  
  <div class='part padding margin_top text_center'>
    <%= will_paginate @scraps %> 
  </div>
<% end %>
