<div class='part padding margin_bottom'>
  <h1>Editing post</h1>
</div>

<%= render :partial => 'form', :locals => { :post => @post } %>

<div class='part padding'>
  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
</div>
