<% title @post.title %>

<%= render :partial => @post %>

<%= render :partial => 'comments/comments', :locals => { :commentable => @post } %>

<div class='clear back'>
  <%= link_to 'Back', account_index_path(@post.account.login) %>
</div>
