<% title @post.title %>

<%= render :partial => @post %>

<%= render :partial => 'comments/comments', :locals => { :commentable => @post } %>

<div class='part padding margin_top'>
  <%= link_to "Back to #{@post.account.blog_title}", account_index_path(@post.account.login) %>
</div>
