<% div_for gallery, :class => 'part padding' do %>
  <h1>
    <%= link_to gallery.name, account_gallery_path(gallery.account, gallery) %>
  </h1>

  <p>
    <%=h gallery.description %>
  </p>

  <div class='padding text_left'>
    <ul class='plain_list'>
      <% for gallery_photo in gallery.gallery_photos %>
        <li><%= link_to image_tag(gallery_photo.url(:tiny)), gallery_photo %></li>
      <% end %>
    </ul>
  </div>
  
  <% unless gallery.comments.empty?  %>
    <% render :layout => 'comments/comment', :object => gallery.comments.last do %>
      <h4>last comment</h4>
    <% end %>
  <% end %>
<% end %>
