<% render :layout => @account do %>
  <div class='part padding margin_bottom'>
    <h1>Galleries</h1>
    
    <% if @account == current_account %>
      <%= link_to 'New gallery', new_account_gallery_path(@account) %>
    <% end %>
  </div>
  
  <%= render :partial => @galleries %>
  
  <div class='text_center'>
    <%= render :partial => 'separator' %>
    <%= will_paginate @galleries %>
  </div>
<% end %>
