<%= render @gallery %>

<%= render :partial => 'comments/comments', :locals => { :commentable => @gallery } %>

<div class='part padding margin_top'>
  <%= link_to 'Back', account_galleries_path(@gallery.account), :class => 'back' %>
</div>
