<div id="top_menu">
  <div class="left text_center" style='margin: 7px 5px 0;'>
    <%= link_to image_tag('logo_tiny_small.jpg'), about_path %>
  </div>
  
  <% menu_item 'Overview', [ home_path, root_path ], 'home_menu' %>
  
  <% if logged_in? %>
    <% menu_item_home 'Home', account_index_path(current_account.login), 'user_menu' %>
    
    <% if current_account.twitter_active %>
      <% menu_item 'Twitter',  account_twitter_blog_path(current_account), 'twitter_menu' %>
    <% end %>
    
    <% menu_item 'Post', new_post_path, 'post_menu' %>
    
    <% menu_item 'Scraps', account_scraps_path(current_account), 'scrap_menu' do %>
      <% unless current_account.scraps.scoped_by_read(false).empty? %>
        <span class='scrap_count'><%= current_account.scraps.scoped_by_read(false).count %></span>
      <% end %>
    <% end %>
    
    <% menu_item 'Things', things_path, 'thing_menu' %>
    
    <% menu_item 'Galleries', galleries_path, 'gallery_menu' %>
    
    <% menu_item 'Bookmarks', bookmarks_path, 'bookmark_menu' %>
    
    <% menu_item 'Settings', edit_account_path(current_account), 'user_edit_menu' %>
    
    <% menu_item 'Logout', logout_path, 'logout_menu' %>    
  <% else %> 
     <% menu_item 'Things', things_path, 'thing_menu' %>
     
     <% menu_item 'Galleries', galleries_path, 'gallery_menu' %>
     
     <% menu_item 'Bookmarks', bookmarks_path, 'bookmark_menu' %>
     
     <% menu_item 'Login', login_path, 'login_menu' %>
    
    <% menu_item 'Sign Up', new_account_path, 'user_new_menu' %>    
  <% end %>
</div>
