<% unless flash[:notice].nil? %>
  <div id="flash_notice">
    <p><%= flash[:notice] %></p>
    <% flash[:notice] = nil %>
  </div>
<% end %>
<% unless flash[:error].nil? %>
  <div id="flash_error">
    <p><%= flash[:error] %></p>
    <% flash[:error] = nil %>
  </div>
<% end %>
