<% unless flash[:notice].nil? %>
  <div id="flash_notice" class='left'>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
<% unless flash[:error].nil? %>
  <div id="flash_error" class='left'>
    <p><%= flash[:error] %></p>
  </div>
<% end %>
