<div class="account_content" >
  <div class="account_content_avatar" >
    <% unless account_content.account.avatar.url.nil?  %>
      <%= image_tag account_content.account.avatar.url(:tiny) %>
    <% end %>
  </div>
  <div class="account_content_time"><%= time_ago_in_words account_content.created_at %></div>
  <br/>
  <div class="account_content_name"><%= link_to_unless_current account_content.account.name, account_index_url(account_content.account.login) %></div>
</div>
