<div class='filter_menu'>
  <%= filter_menu_item @account.login, account_index_path(@account.login, :show => 'account'), 'filter_menu_account', params[:show] == 'account' %>
  
  <%= filter_menu_item 'all', account_index_path(@account.login, :show => 'all'), 'filter_menu_account', params[:show] == 'all' %>
  
  <%= filter_menu_item 'network',  account_index_path(@account.login, :show => 'network'), 'filter_menu_account', params[:show] == 'network' %>
  
  <div class='clear_left'></div>
</div>
