<div class='filter_menu'>
  <%= filter_menu_item @account.login, account_link, 'filter_menu_account', @show == 'account' %>
  
  <%= filter_menu_item 'all', all_link, 'filter_menu_all', @show == 'all' %>
  
  <%= filter_menu_item 'network', network_link , 'filter_menu_network', @show == 'network' %>
  
  <div class='clear_left'></div>
</div>
