<% title @account.blog_title %>

<% render :layout => @account do %>
  <div id='blog_title' class='part padding text_center'><h1><%= @account.blog_title %></h1></div>  
  
  <%= render @notifications %>
  
  <div class='part margin_top padding text_center'>
    <%= will_paginate @notifications %> 
  </div>
<% end %>
