<h1>Forgot my password :/</h1>

<% form_tag send_password_path do -%>

<p><%= label_tag 'Email' %><br />
<%= text_field_tag 'email', '', :class => 'email_input input' %></p>

<p><%= submit_tag 'Send', :class => 'button green_bg' %></p>

<% end -%>
